@{
    ViewData["Title"] = "HOLA MUNDO";
}

<div class="text-center">
    <h1 class="display-4">HOLA MUNDO</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Programacion Distribuida</a>.</p>
     <h1 class="display-4">CRISTINA COLCHA</h1>
    <p><a href=>La programación distribuida es un paradigma de programación enfocado en desarrollar sistemas distribuidos, abiertos, escalables, transparentes y tolerantes de fallos.</a>.</p>
</div>
